@font-face {
  font-family: persianFont;
  src: url(../public/IRANSansXRegular.ttf);
}
body, html {
  font-family: persianFont;
  height: 100%;
  margin: 0;
}
.container-fluid {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}
.login-bg {
  background-color: gray;
}
